Source/Misc/boost/**
!Source/Misc/boost/boost.zip

Builds/*/*/*

.DS_store
JuceLibraryCode/AppConfig.h
JuceLibraryCode/BinaryData.cpp
JuceLibraryCode/BinaryData.h
JuceLibraryCode/JuceHeader.h
JuceLibraryCode/JucePluginDefines.h
Panels
/Panels
